@charset "utf-8";

$progress-indeterminate-duration: 0.8s;

@import '~bulma/bulma.sass';

.base-page {
    display: flex;
    flex-flow: column;

    height: calc(100vh - 52px);
}

.home-page {
    .columns {
        height: 100%;
    }
}

.show-summary {
    overflow: hidden;
    word-wrap: break-word;
    height: 150px;
}

.show-title {
    height: 100px;
}

.show-image {
    cursor: pointer;
}

.custom-navbar {
    display: inline-flex;
    align-items: center;
}

.episode-modal {
    min-height: 600px;
    .image-placeholder {
        background: #f1f1f1;
        height: 140px;
        width: 100%;
    }

    .placeholder {
        background: #f1f1f1;
        margin: 5px 0;

        &.p-title {
            height: 20px;
            width: 100%;
        }

        &.p-subtitle {
            height: 20px;
            width: 80%;
        }

        &.p-summary {
            height: 140px;
            width: 100%;
        }
    }
}
